
<div class="top-background">
<!--    <div class="top-visual">
      <%= image_tag "toplogo.png", size: "340x200" %>
   </div> -->
   <div class="clearfix box_wrap">
    <div class="moimg16">
      <%= image_tag "item11.JPG" %>
    </div>
    <div class="moimg16">
      <%= image_tag "item13.JPG" %>
    </div>
    <div class="moimg16">
     <%= image_tag "item99.JPG" %>
    </div>
  </div>
<!--    <div class="top-title">
      <h1>New Arrival</h1>
   </div>
   <div class="top-item">
   </div> -->
   <div class="passbutton">
      <p class="button-text">Pre-Opening</p>
      <div class="button-shadow">
         <input type="button" value="ENTER" onclick="gate();">
      </div>
   </div>
   <div class="top-about"> 
    <div class="wrap scroll-up">
      <p class="aboutus">
        今日は何を着てどこに行こう。<br>
        どんな冒険が始まり、どんなひとと出会えるのか。<br>
      </p>
    </div>
    <div class="wrap scroll-up">
      <p class="aboutus">
        自分を表現できるファッション。<br>
        シンプルかつ大胆に、<br>
        そして他にないデザインを。<br>
      </p>
    </div>
    <div class="wrap scroll-up">
      <p class="aboutus">
         自分を表現する冒険を始めよう。<br>
         ”Sun's Orion”と共に。<br>
      </p>
    </div>
  </div>

    <!-- <div class="wrap load-fade">
        <h3>ふわっとロード</h3>
        フェードインさせるコンテンツ
    </div>
    <div class="wrap load-up">
        <h3>ふわっとロード</h3>
        スクロールアップしてくるコンテンツ
    </div> -->
<!--     <div class="wrap scroll-fade">
        <h3>ふわっとスクロール</h3>
        フェードインさせるコンテンツ
    </div> -->


   <div class="insta">
      <a href="https://www.instagram.com/sunsorion_wharf.cig/" rel="nofollow" target="_blank">
         <%= image_tag "instaicon2.png", size: "80x80" %>
      </a>
   </div>
</div>
