
<div class="top-background">
   <div class="top-visual">
      <%= image_tag "toplogo.png", size: "340x200" %>
   </div>
   <div class="pic-ctn">
       <%= image_tag "item1.png", size: "400x400" %>
       <%= image_tag "item2.png", size: "400x400" %>
       <%= image_tag "item3.png", size: "400x400" %>
       <%= image_tag "item4.png", size: "400x400" %>
       <%= image_tag "item5.png", size: "400x400" %>
       <%= image_tag "item6.png", size: "400x400" %>
       <%= image_tag "item7.png", size: "400x400" %>
       <%= image_tag "item8.png", size: "400x400" %>
       <%= image_tag "item9.png", size: "400x400" %>
       <%= image_tag "item10.png", size: "400x400" %>
       <%= image_tag "item11.png", size: "400x400" %>
   </div>
   <div class="top-title">
      <h1>New Arrival</h1>
   </div>
   <div class="top-item">
      <%= image_tag "sweatwhite.png", size: "320x320" %>
      <%= image_tag "sweatblack.png", size: "320x320" %>
   </div>
   <div class="passbutton">
      <p class="button-text">Pre-Opening</p>
      <div class="button-shadow">
         <input type="button" value="ENTER" onclick="gate();">
      </div>
   </div>
   <div class="top-about">
      <p class="aboutus">今日は何を着てどこに行こう。<br>
         どんな冒険が始まり、どんなひとと出会えるのか。<br>
         <br>
         自分を表現できるファッション。<br>
         シンプルかつ大胆に、<br>
         そして他にないデザインを。<br>
         <br>
         自分を表現する冒険を始めよう。<br>
         ”Sun's Orion”と共に。<br>
      </p>
   </div>


<div id="main">
    <!-- <div class="wrap load-fade">
        <h3>ふわっとロード</h3>
        フェードインさせるコンテンツ
    </div>
    <div class="wrap load-up">
        <h3>ふわっとロード</h3>
        スクロールアップしてくるコンテンツ
    </div> -->
    <div class="wrap scroll-fade">
        <h3>ふわっとスクロール</h3>
        フェードインさせるコンテンツ
    </div>
    <div class="wrap scroll-up">
        <h3>ふわっとスクロール</h3>
        スクロールアップしてくるコンテンツ
    </div>
</div>

   <div class="insta">
      <a href="https://www.instagram.com/sunsorion_wharf.cig/" rel="nofollow" target="_blank">
         <%= image_tag "instaicon2.png", size: "80x80" %>
      </a>
   </div>
</div>
