<!DOCTYPE html>
<html>
  <head>
    <title>SunsOrion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- 
    <link rel="stylesheet" href="css/jquery.yycountdown.css">
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.yycountdown.min.js"></script> -->

    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP|Simonetta&display=swap" rel="stylesheet">
    <script src="../html5media.min.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
